
@{
    ViewBag.Title = "Error";
}

<h1 style="text-align:center">你不是人資部，所以你不能看到員工的秘密</h1>

<br />
<br />
@*<img style="display:block; margin:auto;" src="https://res.cloudinary.com/teepublic/image/private/s--lhc6lYep--/t_Resized%20Artwork/c_fit,g_north_west,h_1054,w_1054/co_ffffff,e_outline:38/co_ffffff,e_outline:inner_fill:38/co_bbbbbb,e_outline:3:1000/c_mpad,g_center,h_1260,w_1260/b_rgb:eeeeee/c_limit,f_jpg,h_630,q_90,w_630/v1513290234/production/designs/2179068_1.jpg">*@
<img style="display:block; margin:auto;" src="https://i.imgur.com/rNbnYsZ.gif">

<br />
<br />
<h1 style="text-align:center">或許你可以考慮加入人資部</h1>
<h1 style="text-align:center">人資部!!!!!  NEED YOU!!</h1>



